*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;;
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.list{
    width:15%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.mainui{
    width: 85%;
    display: flex;
    flex-direction: column;
}
.line1{
    display: flex;
    justify-content: space-evenly;
}
.line2{
    display: flex;
    justify-content: space-evenly;
}
.card1{
    display:flex;
    flex-direction: column;
    
}
.category{
    display: flex;
    flex-direction: column;
    height:80%;
    gap: 1rem;
    align-items: center;
}
.sub_categories ul{
    gap: 10rem;
    height: 50%;
}

.info description{
    color:#282c3f;
    font-size: 1px;
    font-weight: 400;
}

.discount{
    
}
